{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
<div class='col-sm-8 blog-main'>
<div class="row">
  <div class="col-m-8">
    {% if instance.image %}
      <img src='{{ instance.image.url }}' class="img-fluid" alt="Responsive image" ></br>
      {% endif %} 
      <div class="caption post-detail-item">
        <h3>{{ instance.title }}</h3><small>{{ instance.publish }} ago {% if instance.user.get_full_name %}
        <p>Author: {{ instance.user.get_full_name }}</p>{% endif %}</small>
        {% if instance.draft %}<span style='color:red;'>Draft</span> 
        {% endif %}

        <div class="fb-share-button" 
    data-href="{{ request.build_absolute_uri }}" 
    data-layout="button_count">
  </div><hr/>
        <p>{{ instance.content }}</p><hr/>
    </div>
  </div>
</div>


{% endblock content %}
